langchain==0.3.25
langchain_community==0.3.23
langchain_google_genai==2.1.4
langchain_groq==0.3.2
Markdown==3.8
pandas==2.2.3
Pillow==11.2.1
pytesseract==0.3.13
python-dotenv==1.1.0
streamlit==1.45.0
xhtml2pdf==0.2.17
