aiohttp
altair
anyio
attrs
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
cryptography
dataclasses-json
debugpy
decorator
faiss-cpu
filelock
fonttools
frozenlist
fsspec
gitpython
google-ai-generativelanguage
google-api-core
google-auth
grpcio
h11
httpcore
httpx
httpx-sse
huggingface-hub
idna
ipykernel
ipython
jedi
jinja2
joblib
jsonschema
jupyter-client
jupyter-core
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-groq
langchain-openai
langsmith
markdown
markupsafe
matplotlib-inline
mpmath
multidict
networkx
numpy==1.24.4
openai
openpyxl
orjson
packaging
pandas
pillow
platformdirs
prompt-toolkit
protobuf
pydantic
pydantic-settings
pydeck
Pygments
pymupdf
pypdf
python-dateutil
python-dotenv
pytz
pyyaml
pyzmq
qrcode
regex
reportlab
requests
rsa
scikit-learn==1.3.2
scipy==1.11.4
sentence-transformers
setuptools
six
smmap
sniffio
sqlalchemy
streamlit
sympy
tenacity
threadpoolctl
tiktoken
tokenizers
torch==2.1.0
tqdm
traitlets
transformers
typing-extensions
tzdata
urllib3
watchdog
weasyprint
xhtml2pdf
yarl